<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Netflix Recommendation </title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <header>
      <div>Netflix Recommendation List</div> 
      <div>Login</div>
      <div>Logout</div>
        <button id="myButton"  >Explore More </button>
        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "./catalog/1";
            };
        </script> 
    </header>
    <div class="row">
      <div>
        <h1>Categories</h1>
      </div>
      <a href="{{url_for('newCategory')}}">Create More Categories</a><br>
      <ul>
        {% for category in categories %}
          <li>
            <a href="{{ url_for('showCategory', category_id=category.id) }}">
            <span>{{ category.genre }}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
      <div>
        <h1>Latest Recommendation</h1>
      </div>
      <a href="{{url_for('newItem')}}"> Add More Recomendation</a><br>
      <ul>
        {% for item in item5 %}
          <li>
            <a href="{{ url_for('showItem', category_id=item.category_id, item_id=item.id) }}">
            <span>{{ item.title }}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
      <img
      src="{{url_for('static', filename='recent0')}}"
      alt="Image not found"
      onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
    />
    <img
      src="{{url_for('static', filename='recent1')}}"
      alt="Image not found"
      onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
    />
    <img
      src="{{url_for('static', filename='recent2')}}"
      alt="Image not found"
      onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
    />
    <img
      src="{{url_for('static', filename='recent3')}}"
      alt="Image not found"
      onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
    />
    <img
    src="{{url_for('static', filename='recent4')}}"
    alt="Image not found"
    onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
  />
    </div>
  </body>
</html>
