<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div>
        <h5>Categories List</h5>
      </div>
      <ul>
        {% for category in categories %}
        <a href="{{ url_for('showCategory', category_id=category.id) }}">
          <li>
            <span>{{ category.genre }}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
      <div>
        <h5>Latest Items</h5>
      </div>
      <ul>
        {% for item in items %}
        <a href="{{ url_for('showCatalog') }}">
          <li>
            <span>{{ item.title}}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
    </div>
  </body>
</html>
