<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div>
        <h5>Categories List</h5>
      </div>
      <ul>
        {% for category in categories %}
          <li>
            <a href="{{ url_for('showCategory', category_id=category.id) }}">
            <span>{{ category.genre }}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
      <div>
        <h5>Latest Items</h5>
      </div>
      <ul>
        {% for item in item5 %}
          <li>
            <a href="{{ url_for('showItem', category_id=item.category_id, item_id=item.id) }}">
            <span>{{ item.title }}</span>
          </li>
        </a>
        {%endfor%}
      </ul>
    </div>
     <button>Explore More!</button>
  </body>
</html>
