{% extends 'header.html' %}
{% block content %}
<link rel="stylesheet" href="../static/style_category.css">
<div class="container">
  <div class="container-categories">
    <div class="container-categorieslist">
      <div class="row">
        <div class="col-4 col-md-4 select-header">
          <h3>
            Select Categories
            <hr>
          </h3>
          <ul class="select-category">
            {% for category in categories %}
            <a href="{{ url_for('showCategory', category_id=category.id) }}">
              <li>
                <span>{{ category.genre }}</span><br>
              </li>
            </a>
            {% endfor %}
          </ul>
          <hr>
          <div class="admin-lock">
            <i class="fa fa-lock">Admin </i>
            <div class="category-manager">
              <a type="button" class="btn btn-sm btn-outline-secondary" href="{{url_for('newCategory')}}"
                role="button">Create
              </a>
              <a type="button" class="btn btn-sm btn-outline-secondary"
                href="{{url_for('editCategory',category_id=category.id)}}" role="button">Edit</a>
              <a type="button" class="btn btn-sm btn-outline-secondary"
                href="{{url_for('delCategory',category_id=category.id)}}" role="button">Delete</a>
            </div>
          </div>
        </div>
        <div class="col-7 offset-col-5 col-right">
          <strong class="d-inline-block mb-2 text-success"><i class="fa fa-check"></i> {{categoryName}}</strong>
          <div class="item-manage" style="height: 45vh; margin-top:1rem; text-align: left ">
            <a type="button" class="btn btn-sm btn-outline-primary" href="{{url_for('newItem')}}"> Create
              movies/shows</a>
            <br>
            <br>
            <ul class="list-group ">{% for item in items %}
              <li class="list-group-item item-list">
                {{ item.title }} <br>
                <a type="button" class="btn btn-sm btn-outline-secondary  manage"
                  href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}" role="button">Manage</a>

              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="container-flash">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}"> {{ message|capitalize }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <br>

    </div>
  </div>
</div>
</div>
</div>

{%endblock%}