<div><a href="{{ url_for('showCatalog')}}"><h1>Home</h1></a></div>
<Header> <h1>Movie Recommendation List : By Category</h1></Header>
{% block content %}

<div class="container">
  <div class="container-categories">
    <h5>Categories List</h5>
  </div>
  <ul>
    {% for category in categories %}
    <a href="{{ url_for('showCategory', category_id=category.id) }}">
      <li>
        <span>{{ category.genre }}</span>
      </li>
    </a>
    {% endfor %}
  </ul>
  <div class="container-items">
    <h1>Manage Category: {{ categoryName }}</h1>
    <a href="{{url_for('newCategory')}}">Create new Categories</a><br>
  <a href="{{url_for('editCategory',category_id=category.id)}}">Edit Category</a><br>
  <a href="{{url_for('delCategory',category_id=category.id)}}">Delete Category</a><br>

  </div>
  <h3> Movie List for the Category</h3>
  <a href="{{url_for('newItem')}}"> Add More Recomendation</a><br>
  
  <ul>
    {% for item in items %}
    <li>
      <a
        href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}"
      >
    
        {{ item.title }}
      </a>
      
      {% endfor %}
    </li>
  </ul>

  {% endblock %}


</div>
