{% extends 'header.html'%}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<div>
    <form method="POST" id="delCategory">
        <style>
            #delCategory {
                color: green;
                margin-top: 5rem;
                margin-left: 3rem;
                width: 70%;
            }

            @media (min-width: 768px) {
                #delCategory {
                    color: green;
                    margin-top: 5rem;
                    margin-left: 10rem;
                    width: 80%;
                }
            }
        </style>
        <h4>Are you sure that you want to delete? <br><br><i class="fa fa-times"></i> Delete : {{delCat.genre}}
        </h4>
        <hr>
        <input type="submit" value="DELETE">
        <a href="{{ url_for('showCategory',category_id=category_id) }}">Cancel</a>
    </form>
</div>
{%endblock%}
