{% block content %}

<div class="container">
  <div class="container-newCategory">
    <h5>Please edit {{ editItem.title }}.</h5>
    <form method="POST">
      <div class="form">
        <label>Edit Item: </label> <br />
        <select name="show">
          <option selected>show </option>
          <option>movie</option> </select
        ><br />
        <label> Title: </label
        ><input type="text" name="title" placeholder="title" /><br />
        <label> Genre:</label>
        <select name="category" required>
          {% for category in categories %}
          <option selected value="{{ category.id }}" required>
            {{ category.genre }}
          </option>
          {% endfor %}
        </select>
        <label> Description: </label
        ><input
          type="textarea"
          name="description"
          placeholder="description"
        /><br />
        <label> Relased year: </label>
        <input
          type="text"
          name="release"
          placeholder="YYYY release year"
        /><br />
        <label> Poster Url: </label
        ><input type="text" name="img" placeholder="image_url" /><br />

        <button type="submit">Update</button>
        <a href="{{ url_for('showCategory',category_id=category_id, item_id=item_id) }}">Cancel</a>
        <!-- <button type="submit">Cancel</button> -->
      </div>
    </form>
  </div>
</div>

{%endblock%}
