{% extends 'header.html'%}
{% block content%}

<style>
  .container {
    margin-top: 10rem;
    text-align: center;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }

  h5 {
    font: 1.5rem;
    color: green;
  }

  label,
  input,
  select {
    /* in order to define widths */
    display: inline-block;
  }

  label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
  }

  label+input,
  label+select {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
  }

  /* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
  input+input {
    float: right;
  }

  .cancel {
    margin-top: -0.3rem;
  }

  .title {
    margin-left: 0.2rem;
  }
</style>

<link rel="stylesheet" href="../static/style_editItem.css">
<div class="container">
  <div class="container-editItem">
    <h5>Please edit {{ editItem.title }}.</h5>
    <hr>
    <form method="POST">
      <div class="form">
        <br>
        <label>Edit Item : </label>
        <select name="show">
          <option selected>show </option>
          <option>movie</option>
        </select><br />
        <label> Title : </label>
        <input type="text" name="title" placeholder="title" /><br />
        <label> Genre :</label>
        <select name="category" required>
          {% for category in categories %}
          <option selected value="{{ category.id }}" required>
            {{ category.genre }}
          </option>
          {% endfor %}
        </select><br>
        <label> Description: </label>
        <input type="textarea" word-break: break-word; name="description" placeholder="description" /><br />
        <label> Relased year : </label>
        <input type="text" name="release" placeholder="YYYY release year" /><br />
        <label> Poster Url : </label>
        <input type="text" name="img" placeholder="image_url" /><br />
        <br>
        <button type="submit">Update</button>
        <a href="{{ url_for('showCategory',category_id=category_id, item_id=item_id) }}">Cancel</a>
        <!-- <button type="submit">Cancel</button> -->
      </div>
    </form>
  </div>
</div>

{%endblock%}
