<body>
  <div class="row">
    <div>
      <h3>
        <span>{{ item.title }}</span>
      </h3>
      <div>
        <img
          src="{{url_for('static', filename='local')}}"
          alt="Image not found"
          onerror="this.onerror=null;this.src='https://source.unsplash.com/NodtnCsLdTE/300x300';"
        />
        {{ item.show }}<br />
        {{ item.description }}<br />
        {{ item.release }}<br />
      </div>
    </div>
  </div>
  <script src="../static/item.js"></script>
</body>
