  <body>
    <div class="row">
      <div>
        <h3>
          <span>{{ item.title }}</span>
        </h3>
        <div>
          {{ item.img }} <br>
          {{ item.show }}<br>
          {{ item.description }}<br>
          {{ item.release }}<br>
        </div>
      </div>
      <ul> 
        <!-- {% for category in categories %}
        <a href="{{ url_for('showCatalog', catalog_id=category.id) }}">
          <li>
            <span>{{ category.genre }}</span>
          </li>
        </a>
        {%endfor%} -->
      </ul>
    </div>
  </body>
