{% block content %}

<div class="container">
  <div class="container-newCategory">
    <h5>Please update the category</h5>
    <form method="UPDATE">
      <div class="form">
        <label>Category: </label>
        <input type="text" name="genre" placeholder="Type a new category" />
      </div>
      <button type="submit">Create</button>
      <a href="{{url_for('showCatalog')}}">Cancel</a> 
   
    </form>
     <!-- <button type="submit">Cancel</button>
  </div>
</div>

{% endblock %}
