.container{
  background-size: cover center no-repeat;
  height:100%;
  background-color: rgb(208, 208, 252)!important;
  padding-top:5rem;
} 

.navbar {
  margin-bottom: 0.7rem;
  overflow-wrap: break-word !important;
}

.navbar-brand {
  margin-left: 2%;
  font-size: 1.5rem;
  color: white
}

.logging {
  justify-items: flex-end;
  margin-right: 7%;
}
.login{
  padding-right:1.5rem;
}
.fa-sign-in{
padding-right:1rem;
}
.fa-sign-out{
  padding-right:1rem;
}
.fa-film {
  padding-right: 10px;
}
