html{
    margin: 0 auto;
}
  form {
    margin: 0 auto;
    width: 80%;
  }
  
  .form > h4, span {
    color: green;
  }
  
  @media (min-width: 992px) { 
    body{
      margin-top:10%;
    }
  }